app-color = #fff

main-color = #fe4d4a
important-text-color = #fff

hint-text-bg = rgba(254, 77, 74, 0.9)
hint-text-shd = rgba(254, 77, 74, 0.1)
hint-button-bg = #feebef

spoiler-bg = #feebef
spoiler-image-bg = #fff6f8