@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
@import '~/assets/style/colors.styl'
@import '~normalize.css'

#app *
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight 400

body
  background-color #000

#app
  max-width 640px
  padding 16px 15px 15px 25px
  margin 1px auto
  background-color app-color
  user-select none
  box-sizing border-box

